@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #00ac96;
  
}

.content {
  margin: 8%;
  background-color: #fff;
  padding: 4rem 1rem 4rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
}

.register-text, .login-text {
  font-style: normal;
  font-weight: 600 !important;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-color: #00ac96 !important;
  border-style: solid im !important;
  border-width: 0 0 1px 0 !important;
  padding: 0px im !important;
  color: #495057;
  height: auto;
  border-radius: 0px;
  background-color: #fff;
  background-clip: padding-box;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

.btn-class {
  border-color: #00ac96;
  color: #00ac96;
}

.btn-class:hover {
  background-color: #00ac96;
  color: #fff;
}

.card {

  max-width: 70%;
  margin: 8%;
  background-color: #fff;
  padding: 4rem 1rem 4rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);

}

.card-after-title {
  padding: 25px 25px 0px 25px;
}

label {

  text-transform: uppercase;
  font-weight: 600;

}

label h6 {

  text-transform: none;

}

h6 {

  padding: 10px;

}

li {

  padding: 5px;

}